@font-face {
    font-family: "GothamMedium";
    src: url(../fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
    font-family: "GothamBlack";
    src: url(../fonts/Gotham-Black.otf) format('opentype');
  }

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-family: "GothamMedium";
}

.containerBar {
    position: fixed;
<<<<<<< HEAD
    background-image: ;
=======
>>>>>>> 204903b1c7ffdb8de07ee6d19798c4eae7f645b3
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    font-size: 1vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBar img {
    width: 60%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBar img {
    width: 60%;
}

.fondBar {
    display: grid;
    grid-template-columns: 1.5fr 5.25fr 5.25fr;
    width: 75%;
    height: 25%;
    background-color: #6B705C;
    border-radius: 10vh;
}

.containerBoutons {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    height: auto;
    padding: 1.2vh;
    background-color: #868a74;
    border-radius: 10vh;
}

.bouton {
    width: auto;
    height: auto;
    padding: 1.2vh;
    background-color: #A5A58D;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.425);
    border-radius: 10vh;
    margin: 1vh;
}

.bouton:hover {
    transform: scale(0.9);
    transition: 0.4s;
}

.bouton:not(hover) {
    transform: scale(1);
    transition: 0.4s;
}

<<<<<<< HEAD
=======
#petitBouton {
    transform: scale(0.8);
}

>>>>>>> 204903b1c7ffdb8de07ee6d19798c4eae7f645b3
#reservation {
    font-family: "GothamBlack";
}

<<<<<<< HEAD
.imgFond {
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url(../img/fond_accueil.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
}

.edition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 40vh;
    background-color:#EFEFEF;
    border-radius: 10vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 3vw;
    font-size: 1vw;
}

.bold {
    font-family: "GothamBlack";
    color: black;
}

.fin {
    font-family: "GothamMedium";
    color: black;
=======
.mosaique{
    display:flex;
    flex-direction: column;
    justify-content:center;

    height:400px;
    width: 80%;
    background-color: #6B705C;

    border:none;
    border-bottom: 10px solid red;
    border-radius: 2vh;
}

.sponsors {
    display: flex;
    justify-content: space-around;
}

.sponsors img {
    max-width: 50%;
    height:12%;

    margin:5%;

    align-items:center;
}

#bouton {
    background-color:#A5A58D;
    font-family: "GothamBlack";
    color: white;
    border:none;
    border-radius: 3%;

>>>>>>> 204903b1c7ffdb8de07ee6d19798c4eae7f645b3
}
