@font-face {
    font-family: 'GothamReg';
    src: url(../fonts/GothamMedium.ttf) format('Opentype');
}

@font-face {
    font-family: 'GothamBold';
    src: url(../fonts/Gotham-Bold.otf) format('Opentype');
}

@font-face {
    font-family: "GothamBlack";
    src: url(../fonts/Gotham-Black.otf) format('opentype');
  }

@font-face {
    font-family: "GothamLig";
    src: url(../fonts/Gotham-Light.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-image: url('../img/fondfond.jpg');
    text-align:center;
}

.titre {
    text-align: center;

    padding: 2vw;
}

.titre h1 {
    font-family:'GothamBold';
    font-size: 2vw;

}

.global {
    display:inline-block;
    width: 100%;
    padding-top: 8vw;
}

.champs {
    margin:3vw;
    width: 20vw;
    height:2vw;

    font-family: 'GothamLig';
    font-size:1.2vw;

    border: none;
    border-bottom : 2px solid black;
    background:none;
}

label {
    font-family: 'GothamReg';
    font-size:1.3vw;
}

.check {
    width: 2vw;
    height:2vw;
    height:1.5vw;
    margin-top: 2vw;
    margin-left: 5vw;
}

.champs:hover {
    opacity:0.7;
    outline: none;
    border-bottom : 2px solid #6b705c;

    transition: 0.3s;
}

.champs:not(:hover) {
    opacity:1;
    outline: none;
    border-bottom : 2px solid black;

    transition: 0.3s;
}

.champs:focus {
    outline: none;

    border-bottom : 2px solid black;

    transition: 0.3s;
}

.champs:not(:focus) {
    outline: none;

    border-bottom : 2px solid #6b705c;

    transition: 0.3s;
}

.boutt {
    outline: none;
    border: none;
    background:none;

    font-size: 1vw;
    font-family: 'GothamReg'
}

.phrasecode {
    margin: 2vw;
}

.phrasecode p {
    font-family: 'GothamReg';
    font-size:1.2vw;
    line-height: 2;
}

.boutt:hover {
    transform: scale(1.2);
    color: #6b705c;
    transition: 0.3s;

    border-bottom: 1px solid #6b705c;
}

.boutt:not(:hover){
    transform: scale(1);
    color: black;
    transition: 0.3s;
}

.lien {text-align:center;margin: 10%;}

.lien p {
    font-family:'GothamLig';
    font-size: 1vw;
}

#envoyer {
  margin-bottom: 5vw;
}

a {
    text-decoration: none;
    color: white;
    font-family: "GothamReg";
}

p {
    font-family: "GothamReg";
    font-size: 1vw;
}

nav {
    z-index: 1000;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}

.listePays .containerListElements {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.listePays li{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listePays li:hover .containerListElements {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: auto;
}

.containerListElements ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 1.5vh;
    background-color: #A5A58D;
    border-radius: 2vh;
}

.listeElement {
    padding: 1vh;
}

.containerBar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    font-size: 1vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBar img {
    width: 60%;
}

.fondBar {
    display: grid;
    grid-template-columns: 1.5fr 5.25fr 5.25fr;
    width: 70%;
    height: 25%;
    background-color: #6B705C;
    border-radius: 10vh;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.425);
}

.containerBoutons {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.4fr;
    width: auto;
    height: auto;
    padding: 1.5vh;
    background-color: #868a74;
    border-radius: 10vh;
}

.bouton {
    width: auto;
    height: auto;
    padding: 1.5vh;
    background-color: #A5A58D;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.425);
    border-radius: 10vh;
    margin: 1vh;
}

.bouton:hover {
    transform: scale(0.9);
    transition: 0.4s;
}

.bouton:not(hover) {
    transform: scale(1);
    transition: 0.4s;
}

.boutonPays {
    width: auto;
    height: auto;
    padding: 1.5vh;
    background-color: #A5A58D;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.425);
    border-radius: 10vh;
    margin: 1vh;
}

.pays:hover {
    transform: scale(0.9);
    transition: 0.4s;
}

.pays:not(hover) {
    transform: scale(1);
    transition: 0.4s;
}

.boutonLangue {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 3.5vw;
}

.boutonLangue:hover {
    transform: scale(0.9);
    transition: 0.4s;
}

.boutonLangue:not(hover) {
    transform: scale(1);
    transition: 0.4s;
}

#reservation {
    font-family: "GothamBlack";
}

@media screen and (max-width: 1500px) {
    .champs {
        margin:6vw;
        height:2.5vw;
    }
}

@media screen and (max-width: 1250px) {
    .champs {
        margin:9vw;
    }
}

@media screen and (max-width: 1000px) {
    .champs {
        margin: 14vw;
    }
}

@media screen and (max-width: 750px) {
    .champs {
        width:25vw;
        margin: 23vw;
    }
}

@media screen and (max-width: 500px) {
    .champs {
        width:30vw;
        margin: 28vw;
    }
}
