@font-face {
    font-family: 'GothamReg';
    src: url(../fonts/GothamMedium.ttf) format('Opentype');
}

@font-face {
    font-family: 'GothamBold';
    src: url(../fonts/Gotham-Bold.otf) format('Opentype');
}

@font-face {
    font-family: "GothamBlack";
    src: url(../fonts/Gotham-Black.otf) format('opentype');
  }

body {
    background-image: url('../img/fondfond.png');
}
  
.titre h1 {
    font-family: 'GothamBold';
    text-align: right;
    font-size: 3vw;
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right:10%;
}

#titre1 h1{
    font-size:4vw;
    margin:0;
}

.banner {
    position: relative;
    text-align:center;
}

/*.banner img {filter: blur(1px);}*/

.texteimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color:white;
  }

.texteimg p {font-family: 'GothamBold'; font-size: 5vw;}

.navpage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 3%;
}

.navpage a {
    color: black;
    font-family: 'GothamBold';
    font-size:2vw;

    text-decoration: none;
}

.navpage .zoom:hover {transform: scale(1.2);transition: 0.5s;}

.navpage .zoom:not(:hover) {transition: 0.5s;}

.intro {
    margin:auto;
    width:65%;
}

#intro1 {
    margin-top: 4%;
    margin-bottom: 4%;
}

.intro p{
    text-align:justify;
    text-justify: inter-word;

    color: black;
    font-family: 'GothamReg';
    font-size:1vw;
}

.monument {
    display:flex;
    flex-direction: column;

    width: 80%;

    background-image: url('../img/fond.png');
    background-size: cover ;
    border:none;
    border-radius: 3vw;
    margin:auto;
    padding:0;
    padding-bottom:1%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.images_monument {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    margin: auto;
}

.un , .deux {display: flex; justify-content:center;margin-bottom:2%;}

.un img, .deux img {
    max-width:60%;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.un img:hover{
    filter: blur(2px);
    transition:0.5s;
}

.un img:not(:hover){
    filter: blur(0px);
    transition:0.5s;
}

.deux img:hover {
    filter: blur(2px);
    transition:0.5s;
}

.deux img:not(:hover){
    filter: blur(0px);
    transition:0.5s;
}

#monum {width:80%; }

#activid h1{
    margin:3%;
    text-align:center;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width:70%;
    margin:auto;
}
.image_activites {display: flex; justify-content:center; width: 40%;}


.image_activites img{max-width: 100%;}


.texte_activites {
    color: black;
    font-family: 'GothamReg';
    font-size:1vw;

    text-align: justify;
    text-justify: inter-word;
    
    width: 40%;
    margin:auto;
}

.secondaire {
    display:flex;
    flex-direction: column;
    width: 60%;

    margin: auto;
    margin-top:3%;
}

.act1 {
    display:flex;
    justify-content: space-around;
}

.act1 p {
    color: black;
    font-family: 'GothamReg';
    font-size:1vw;
}

.reserv {
    display:flex;
    justify-content: center;

    margin:2%;
}

input {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #6b705c;
    box-shadow: inset 0 0 0 2px #6b705c;
    background-color: transparent;
    height: 48px;
    font-family: 'GothamReg';
}

input:hover{
    color: white;
    background-color: #6b705c;
}


footer {
    display:flex;
    justify-content: space-around;
    align-items: center;

    background-color: #6b705c;

    border: none;
    border-radius: 30px;

    box-shadow: 5px 5px 15px black;

    margin:auto;

    width:35%;
}

footer p {
    font-family: 'GothamReg';
    color: white;

    font-size: 1vw;
}

footer img {
    max-width:70%;
    height:70%;
}

.centre {
    display:flex;
    align-items:center;
    justify-content: center;

    height:100%;
    width:30%;
}