@font-face {
    font-family: "GothamMedium";
    src: url(../fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
    font-family: "GothamBlack";
    src: url(../fonts/Gotham-Black.otf) format('opentype');
}

@font-face {
    font-family: "GothamBold";
    src: url(../fonts/Gotham-Bold.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'GothamMedium';
    background-image: url('../img/fondfond.png');
}

/*===================== HEADER =====================*/
a {
    text-decoration: none;
    color: white;
    font-family: "GothamMedium";
}

.containerBar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBar img {
    width: 60%;
}

.fondBar {
    display: grid;
    grid-template-columns: 1.5fr 5.25fr 5.25fr;
    width: 70%;
    height: 25%;
    background-color: #6B705C;
    border-radius: 10vh;
}

.containerBoutons {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    height: auto;
    padding: 1.2vh;
    background-color: #868a74;
    border-radius: 10vh;
}

.bouton {
    width: auto;
    height: auto;
    padding: 1.2vh;
    background-color: #A5A58D;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.425);
    border-radius: 10vh;
    margin: 1vh;
}

.bouton:hover {
    transform: scale(0.9);
    transition: 0.4s;
}

.bouton:not(hover) {
    transform: scale(1);
    transition: 0.4s;
}

#petitBouton {
    transform: scale(0.8);
}

#reservation {
    font-family: "GothamBlack";
}
/*===================== FIN HEADER =====================*/

/*===================== BODY =====================*/
.container {
    width: 1330px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.img_text_top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 160px;
}

.left_img > img {
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}

.right_text {
    color: black;
    line-height: 1.8;
    font-size: 2vh;
    margin-left: 30px;
}

.right_text > h1 {
    font-family: 'GothamBold';
}




.choose_pays {
    text-align: center;
    margin-top: 140px;
}

.choose_pays h2 {
    font-family: 'GothamBold';
}

.select_pays {
    display: inline-block;
    border-radius: 4px;
    background-color: #a5a58d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 3vh;
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 30px;
  }




.afficher_pays {
    display: block;
    margin: 40px auto 80px auto;

    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    color: white;
    text-align: center;
    background-color: #6b705c;
    width: 80%;
    height: 100vh;
}

.afficher_pays:hover {
    box-shadow: #6b705c -5px 5px, #7D7D7D -10px 10px, #9E9E9E -15px 15px, #BDBDBD -20px 20px, #D3D3D3 -25px 25px;
    transition: 0.6s;
}

.afficher_pays:not(hover) {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.6s;
}

.container_in {
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    font-family: 'GothamBlack';
    font-size: 2.5vh;
}

.title_activity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.informations {
    display: block;
}

.activity_main {
    display: flex;
    flex-direction: column;
}

.activity1, .activity2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.col > p, .col > p, .tarifs p {
    font-family: 'GothamMedium';
    text-align: justify;
    font-size: 1.75vh;
    margin-top: 50px;
    width: 35vh;
}

.col > li, .col > li, .tarifs > li {
    font-family: 'GothamMedium';
    text-align: center;
    font-size: 1.75vh;
    margin-top: 50px;
    width: 35vh;
    list-style: none;
}

.tarifs p {
    text-align: center;
}

.bn3 {
    display: flex;
    justify-content: center;
    width: 20%;

    margin: 70px auto 70px auto;
    padding: 20px;

    border-radius: 2em;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);

    text-decoration: none;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    font-size: 2.5vh;
    font-family: 'GothamBlack';

    transition: all 0.2s;
    background-color: #a5a58d;
  }
  
  .bn3:hover {
    background-color: #6b705c;
  }
/*===================== FIN BODY =====================*/

/*===================== FOOTER =====================*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #6b705c;

    border: none;
    border-radius: 30px;

    box-shadow: 5px 5px 15px black;

    margin:auto;
    margin-bottom: 10px;
    padding: 20px;

    width:45%;
}

footer p {
    font-family: 'GothamMedium';
    color: white;

    font-size: 1vw;
}

footer img {
    max-width:70%;
    height:70%;
}

.centre {
    display:flex;
    align-items:center;
    justify-content: center;

    height:100%;
    width:30%;
}
/*===================== FIN FOOTER =====================*/
